@use '../base/var.scss';
@use '../base/animation.scss';

.fz-button {
  --fz-button-font-weight: var(--fz-font-weight-primary);
  --fz-button-border-color: var(--fz-border-color);
  --fz-button-bg-color: var(--fz-fill-color-blank);
  --fz-button-text-color: var(--fz-text-color-regular);
  --fz-button-disabled-text-color: var(--fz-disabled-text-color);
  --fz-button-disabled-bg-color: var(--fz-fill-color-blank);
  --fz-button-disabled-border-color: var(--fz-border-color-light);
  --fz-button-divide-border-color: rgba(255, 255, 255, 0.5);
  --fz-button-hover-text-color: var(--fz-color-primary);
  --fz-button-hover-bg-color: var(--fz-color-primary-light-9);
  --fz-button-hover-border-color: var(--fz-color-primary-light-7);
  --fz-button-active-text-color: var(--fz-button-hover-text-color);
  --fz-button-active-border-color: var(--fz-color-primary);
  --fz-button-active-bg-color: var(--fz-button-hover-bg-color);
  --fz-button-outline-color: var(--fz-color-primary-light-5);
  --fz-button-hover-link-text-color: var(--fz-color-info);
  --fz-button-active-color: var(--fz-text-color-primary)
}

.fz-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--fz-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  transition: .1s;
  font-weight: var(--fz-button-font-weight);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--fz-button-bg-color);
  border: var(--fz-border);
  border-color: var(--fz-button-border-color);
  padding: 8px 15px;
  font-size: var(--fz-font-size-base);
  border-radius: var(--fz-border-radius-base)
}

.fz-button:focus,
.fz-button:hover {
  color: var(--fz-button-hover-text-color);
  border-color: var(--fz-button-hover-border-color);
  background-color: var(--fz-button-hover-bg-color);
  outline: 0
}

.fz-button:active {
  color: var(--fz-button-active-text-color);
  border-color: var(--fz-button-active-border-color);
  background-color: var(--fz-button-active-bg-color);
  outline: 0
}

.fz-button:focus-visible {
  outline: 2px solid var(--fz-button-outline-color);
  outline-offset: 1px
}

.fz-button>span {
  display: inline-flex;
  align-items: center
}

.fz-button+.fz-button {
  margin-left: 12px
}

.fz-button.is-round {
  padding: 8px 15px
}

.fz-button::-moz-focus-inner {
  border: 0
}

.fz-button .fz-button__icon+span {
  margin-left: 6px
}

.fz-button .fz-button__icon svg {
  vertical-align: bottom
}

.fz-button.is-plain {
  --fz-button-hover-text-color: var(--fz-color-primary);
  --fz-button-hover-bg-color: var(--fz-fill-color-blank);
  --fz-button-hover-border-color: var(--fz-color-primary)
}

.fz-button.is-active {
  color: var(--fz-button-active-text-color);
  border-color: var(--fz-button-active-border-color);
  background-color: var(--fz-button-active-bg-color);
  outline: 0
}

.fz-button.is-disabled,
.fz-button.is-disabled:focus,
.fz-button.is-disabled:hover {
  color: var(--fz-button-disabled-text-color);
  cursor: not-allowed;
  background-image: none;
  background-color: var(--fz-button-disabled-bg-color);
  border-color: var(--fz-button-disabled-border-color)
}

.fz-button.is-loading {
  position: relative;
  pointer-events: none;

  .fz-button__icon {
    animation: icon-loading-animation 1s linear infinite;
  }
}

.fz-button.is-loading:before {
  z-index: 1;
  pointer-events: none;
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
  background-color: var(--fz-mask-color-extra-light)
}

.fz-button.is-round {
  border-radius: var(--fz-border-radius-round)
}

.fz-button.is-circle {
  border-radius: 50%;
  padding: 8px
}

.fz-button.is-text {
  color: var(--fz-button-text-color);
  border: 0 solid transparent;
  background-color: transparent
}

.fz-button.is-text.is-disabled {
  color: var(--fz-button-disabled-text-color);
  background-color: transparent !important
}

.fz-button.is-text:not(.is-disabled):focus,
.fz-button.is-text:not(.is-disabled):hover {
  background-color: var(--fz-fill-color-light)
}

.fz-button.is-text:not(.is-disabled):focus-visible {
  outline: 2px solid var(--fz-button-outline-color);
  outline-offset: 1px
}

.fz-button.is-text:not(.is-disabled):active {
  background-color: var(--fz-fill-color)
}

.fz-button.is-text:not(.is-disabled).is-has-bg {
  background-color: var(--fz-fill-color-light)
}

.fz-button.is-text:not(.is-disabled).is-has-bg:focus,
.fz-button.is-text:not(.is-disabled).is-has-bg:hover {
  background-color: var(--fz-fill-color)
}

.fz-button.is-text:not(.is-disabled).is-has-bg:active {
  background-color: var(--fz-fill-color-dark)
}

.fz-button__text--expand {
  letter-spacing: .3em;
  margin-right: -.3em
}

.fz-button.is-link {
  border-color: transparent;
  color: var(--fz-button-text-color);
  background: 0 0;
  padding: 2px;
  height: auto
}

.fz-button.is-link:focus,
.fz-button.is-link:hover {
  color: var(--fz-button-hover-link-text-color)
}

.fz-button.is-link.is-disabled {
  color: var(--fz-button-disabled-text-color);
  background-color: transparent !important;
  border-color: transparent !important
}

.fz-button.is-link:not(.is-disabled):focus,
.fz-button.is-link:not(.is-disabled):hover {
  border-color: transparent;
  background-color: transparent
}

.fz-button.is-link:not(.is-disabled):active {
  color: var(--fz-button-active-color);
  border-color: transparent;
  background-color: transparent
}

.fz-button--text {
  border-color: transparent;
  background: 0 0;
  color: var(--fz-color-primary);
  padding-left: 0;
  padding-right: 0
}

.fz-button--text.is-disabled {
  color: var(--fz-button-disabled-text-color);
  background-color: transparent !important;
  border-color: transparent !important
}

.fz-button--text:not(.is-disabled):focus,
.fz-button--text:not(.is-disabled):hover {
  color: var(--fz-color-primary-light-3);
  border-color: transparent;
  background-color: transparent
}

.fz-button--text:not(.is-disabled):active {
  color: var(--fz-color-primary-dark-2);
  border-color: transparent;
  background-color: transparent
}

.fz-button__link--expand {
  letter-spacing: .3em;
  margin-right: -.3em
}

.fz-button--primary {
  --fz-button-text-color: var(--fz-color-white);
  --fz-button-bg-color: var(--fz-color-primary);
  --fz-button-border-color: var(--fz-color-primary);
  --fz-button-outline-color: var(--fz-color-primary-light-5);
  --fz-button-active-color: var(--fz-color-primary-dark-2);
  --fz-button-hover-text-color: var(--fz-color-white);
  --fz-button-hover-link-text-color: var(--fz-color-primary-light-5);
  --fz-button-hover-bg-color: var(--fz-color-primary-light-3);
  --fz-button-hover-border-color: var(--fz-color-primary-light-3);
  --fz-button-active-bg-color: var(--fz-color-primary-dark-2);
  --fz-button-active-border-color: var(--fz-color-primary-dark-2);
  --fz-button-disabled-text-color: var(--fz-color-white);
  --fz-button-disabled-bg-color: var(--fz-color-primary-light-5);
  --fz-button-disabled-border-color: var(--fz-color-primary-light-5)
}

.fz-button--primary.is-link,
.fz-button--primary.is-plain,
.fz-button--primary.is-text {
  --fz-button-text-color: var(--fz-color-primary);
  --fz-button-bg-color: var(--fz-color-primary-light-9);
  --fz-button-border-color: var(--fz-color-primary-light-5);
  --fz-button-hover-text-color: var(--fz-color-white);
  --fz-button-hover-bg-color: var(--fz-color-primary);
  --fz-button-hover-border-color: var(--fz-color-primary);
  --fz-button-active-text-color: var(--fz-color-white)
}

.fz-button--primary.is-link.is-disabled,
.fz-button--primary.is-link.is-disabled:active,
.fz-button--primary.is-link.is-disabled:focus,
.fz-button--primary.is-link.is-disabled:hover,
.fz-button--primary.is-plain.is-disabled,
.fz-button--primary.is-plain.is-disabled:active,
.fz-button--primary.is-plain.is-disabled:focus,
.fz-button--primary.is-plain.is-disabled:hover,
.fz-button--primary.is-text.is-disabled,
.fz-button--primary.is-text.is-disabled:active,
.fz-button--primary.is-text.is-disabled:focus,
.fz-button--primary.is-text.is-disabled:hover {
  color: var(--fz-color-primary-light-5);
  background-color: var(--fz-color-primary-light-9);
  border-color: var(--fz-color-primary-light-8)
}

.fz-button--success {
  --fz-button-text-color: var(--fz-color-white);
  --fz-button-bg-color: var(--fz-color-success);
  --fz-button-border-color: var(--fz-color-success);
  --fz-button-outline-color: var(--fz-color-success-light-5);
  --fz-button-active-color: var(--fz-color-success-dark-2);
  --fz-button-hover-text-color: var(--fz-color-white);
  --fz-button-hover-link-text-color: var(--fz-color-success-light-5);
  --fz-button-hover-bg-color: var(--fz-color-success-light-3);
  --fz-button-hover-border-color: var(--fz-color-success-light-3);
  --fz-button-active-bg-color: var(--fz-color-success-dark-2);
  --fz-button-active-border-color: var(--fz-color-success-dark-2);
  --fz-button-disabled-text-color: var(--fz-color-white);
  --fz-button-disabled-bg-color: var(--fz-color-success-light-5);
  --fz-button-disabled-border-color: var(--fz-color-success-light-5)
}

.fz-button--success.is-link,
.fz-button--success.is-plain,
.fz-button--success.is-text {
  --fz-button-text-color: var(--fz-color-success);
  --fz-button-bg-color: var(--fz-color-success-light-9);
  --fz-button-border-color: var(--fz-color-success-light-5);
  --fz-button-hover-text-color: var(--fz-color-white);
  --fz-button-hover-bg-color: var(--fz-color-success);
  --fz-button-hover-border-color: var(--fz-color-success);
  --fz-button-active-text-color: var(--fz-color-white)
}

.fz-button--success.is-link.is-disabled,
.fz-button--success.is-link.is-disabled:active,
.fz-button--success.is-link.is-disabled:focus,
.fz-button--success.is-link.is-disabled:hover,
.fz-button--success.is-plain.is-disabled,
.fz-button--success.is-plain.is-disabled:active,
.fz-button--success.is-plain.is-disabled:focus,
.fz-button--success.is-plain.is-disabled:hover,
.fz-button--success.is-text.is-disabled,
.fz-button--success.is-text.is-disabled:active,
.fz-button--success.is-text.is-disabled:focus,
.fz-button--success.is-text.is-disabled:hover {
  color: var(--fz-color-success-light-5);
  background-color: var(--fz-color-success-light-9);
  border-color: var(--fz-color-success-light-8)
}

.fz-button--warning {
  --fz-button-text-color: var(--fz-color-white);
  --fz-button-bg-color: var(--fz-color-warning);
  --fz-button-border-color: var(--fz-color-warning);
  --fz-button-outline-color: var(--fz-color-warning-light-5);
  --fz-button-active-color: var(--fz-color-warning-dark-2);
  --fz-button-hover-text-color: var(--fz-color-white);
  --fz-button-hover-link-text-color: var(--fz-color-warning-light-5);
  --fz-button-hover-bg-color: var(--fz-color-warning-light-3);
  --fz-button-hover-border-color: var(--fz-color-warning-light-3);
  --fz-button-active-bg-color: var(--fz-color-warning-dark-2);
  --fz-button-active-border-color: var(--fz-color-warning-dark-2);
  --fz-button-disabled-text-color: var(--fz-color-white);
  --fz-button-disabled-bg-color: var(--fz-color-warning-light-5);
  --fz-button-disabled-border-color: var(--fz-color-warning-light-5)
}

.fz-button--warning.is-link,
.fz-button--warning.is-plain,
.fz-button--warning.is-text {
  --fz-button-text-color: var(--fz-color-warning);
  --fz-button-bg-color: var(--fz-color-warning-light-9);
  --fz-button-border-color: var(--fz-color-warning-light-5);
  --fz-button-hover-text-color: var(--fz-color-white);
  --fz-button-hover-bg-color: var(--fz-color-warning);
  --fz-button-hover-border-color: var(--fz-color-warning);
  --fz-button-active-text-color: var(--fz-color-white)
}

.fz-button--warning.is-link.is-disabled,
.fz-button--warning.is-link.is-disabled:active,
.fz-button--warning.is-link.is-disabled:focus,
.fz-button--warning.is-link.is-disabled:hover,
.fz-button--warning.is-plain.is-disabled,
.fz-button--warning.is-plain.is-disabled:active,
.fz-button--warning.is-plain.is-disabled:focus,
.fz-button--warning.is-plain.is-disabled:hover,
.fz-button--warning.is-text.is-disabled,
.fz-button--warning.is-text.is-disabled:active,
.fz-button--warning.is-text.is-disabled:focus,
.fz-button--warning.is-text.is-disabled:hover {
  color: var(--fz-color-warning-light-5);
  background-color: var(--fz-color-warning-light-9);
  border-color: var(--fz-color-warning-light-8)
}

.fz-button--danger {
  --fz-button-text-color: var(--fz-color-white);
  --fz-button-bg-color: var(--fz-color-danger);
  --fz-button-border-color: var(--fz-color-danger);
  --fz-button-outline-color: var(--fz-color-danger-light-5);
  --fz-button-active-color: var(--fz-color-danger-dark-2);
  --fz-button-hover-text-color: var(--fz-color-white);
  --fz-button-hover-link-text-color: var(--fz-color-danger-light-5);
  --fz-button-hover-bg-color: var(--fz-color-danger-light-3);
  --fz-button-hover-border-color: var(--fz-color-danger-light-3);
  --fz-button-active-bg-color: var(--fz-color-danger-dark-2);
  --fz-button-active-border-color: var(--fz-color-danger-dark-2);
  --fz-button-disabled-text-color: var(--fz-color-white);
  --fz-button-disabled-bg-color: var(--fz-color-danger-light-5);
  --fz-button-disabled-border-color: var(--fz-color-danger-light-5)
}

.fz-button--danger.is-link,
.fz-button--danger.is-plain,
.fz-button--danger.is-text {
  --fz-button-text-color: var(--fz-color-danger);
  --fz-button-bg-color: var(--fz-color-danger-light-9);
  --fz-button-border-color: var(--fz-color-danger-light-5);
  --fz-button-hover-text-color: var(--fz-color-white);
  --fz-button-hover-bg-color: var(--fz-color-danger);
  --fz-button-hover-border-color: var(--fz-color-danger);
  --fz-button-active-text-color: var(--fz-color-white)
}

.fz-button--danger.is-link.is-disabled,
.fz-button--danger.is-link.is-disabled:active,
.fz-button--danger.is-link.is-disabled:focus,
.fz-button--danger.is-link.is-disabled:hover,
.fz-button--danger.is-plain.is-disabled,
.fz-button--danger.is-plain.is-disabled:active,
.fz-button--danger.is-plain.is-disabled:focus,
.fz-button--danger.is-plain.is-disabled:hover,
.fz-button--danger.is-text.is-disabled,
.fz-button--danger.is-text.is-disabled:active,
.fz-button--danger.is-text.is-disabled:focus,
.fz-button--danger.is-text.is-disabled:hover {
  color: var(--fz-color-danger-light-5);
  background-color: var(--fz-color-danger-light-9);
  border-color: var(--fz-color-danger-light-8)
}

.fz-button--info {
  --fz-button-text-color: var(--fz-color-white);
  --fz-button-bg-color: var(--fz-color-info);
  --fz-button-border-color: var(--fz-color-info);
  --fz-button-outline-color: var(--fz-color-info-light-5);
  --fz-button-active-color: var(--fz-color-info-dark-2);
  --fz-button-hover-text-color: var(--fz-color-white);
  --fz-button-hover-link-text-color: var(--fz-color-info-light-5);
  --fz-button-hover-bg-color: var(--fz-color-info-light-3);
  --fz-button-hover-border-color: var(--fz-color-info-light-3);
  --fz-button-active-bg-color: var(--fz-color-info-dark-2);
  --fz-button-active-border-color: var(--fz-color-info-dark-2);
  --fz-button-disabled-text-color: var(--fz-color-white);
  --fz-button-disabled-bg-color: var(--fz-color-info-light-5);
  --fz-button-disabled-border-color: var(--fz-color-info-light-5)
}

.fz-button--info.is-link,
.fz-button--info.is-plain,
.fz-button--info.is-text {
  --fz-button-text-color: var(--fz-color-info);
  --fz-button-bg-color: var(--fz-color-info-light-9);
  --fz-button-border-color: var(--fz-color-info-light-5);
  --fz-button-hover-text-color: var(--fz-color-white);
  --fz-button-hover-bg-color: var(--fz-color-info);
  --fz-button-hover-border-color: var(--fz-color-info);
  --fz-button-active-text-color: var(--fz-color-white)
}

.fz-button--info.is-link.is-disabled,
.fz-button--info.is-link.is-disabled:active,
.fz-button--info.is-link.is-disabled:focus,
.fz-button--info.is-link.is-disabled:hover,
.fz-button--info.is-plain.is-disabled,
.fz-button--info.is-plain.is-disabled:active,
.fz-button--info.is-plain.is-disabled:focus,
.fz-button--info.is-plain.is-disabled:hover,
.fz-button--info.is-text.is-disabled,
.fz-button--info.is-text.is-disabled:active,
.fz-button--info.is-text.is-disabled:focus,
.fz-button--info.is-text.is-disabled:hover {
  color: var(--fz-color-info-light-5);
  background-color: var(--fz-color-info-light-9);
  border-color: var(--fz-color-info-light-8)
}

.fz-button--large {
  --fz-button-size: 40px;
  height: var(--fz-button-size);
  padding: 12px 19px;
  font-size: var(--fz-font-size-base);
  border-radius: var(--fz-border-radius-base)
}

.fz-button--large .fz-button__icon+span {
  margin-left: 8px
}

.fz-button--large.is-round {
  padding: 12px 19px
}

.fz-button--large.is-circle {
  width: var(--fz-button-size);
  padding: 12px
}

.fz-button--small {
  --fz-button-size: 24px;
  height: var(--fz-button-size);
  padding: 5px 11px;
  font-size: 12px;
  border-radius: calc(var(--fz-border-radius-base) - 1px)
}

.fz-button--small .fz-button__icon+span {
  margin-left: 4px
}

.fz-button--small.is-round {
  padding: 5px 11px
}

.fz-button--small.is-circle {
  width: var(--fz-button-size);
  padding: 5px
}
