.fz-divider {
  position: relative;

  &--horizontal {
    display: block;
    height: 1px;
    width: 100%;
    margin: 24px 0;
    border-top: 1px var(--fz-border-color) var(--fz-border-style);
  }

  &--vertical {
    display: inline-block;
    width: 1px;
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
    position: relative;
    border-left: 1px var(--fz-border-color) var(--fz-border-style);
  }

  &__text {
    position: absolute;
    background-color: var(--fz-bg-color);
    padding: 0 20px;
    font-weight: 500;
    color: var(--fz-text-color-primary);
    font-size: var(--fz-font-size-base, 14px);

    &.is-left {
      left: 20px;
      transform: translateY(-50%);
    }
    &.is-center {
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    &.is-right {
      right: 20px;
      transform: translateY(-50%);
    }
  }

}
