@use 'sass:map';

@use 'config/mixins.scss' as *;
@use 'config/mixins-var.scss' as *;

// Empty
$empty: () !default;
$empty: map.merge(
  (
    'padding': 40px 0,
    'image-width': 120px,
    'description-margin-top': 20px,
    'bottom-margin-top': 20px,
    'fill-color-1': getCssVar('fill-color', 'light'),
    'fill-color-2': getCssVar('border-color'),
    'fill-color-3': getCssVar('fill-color', 'lighter'),
  ),
  $empty
);

@include b(empty) {
  @include set-component-css-var('empty', $empty);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: getCssVar('empty-padding');

  @include e(image) {
    width: getCssVar('empty-image-width');

    img {
      user-select: none;
      width: 100%;
      height: 100%;
      vertical-align: top;
      object-fit: contain;
    }

    svg {
      color: getCssVar('svg-monochrome-grey');
      fill: currentColor;
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
  }

  @include e(description) {
    margin-top: getCssVar('empty-description-margin-top');

    p {
      margin: 0;
      font-size: getCssVar('font-size', 'base');
      color: getCssVar('text-color', 'secondary');
    }
  }

  @include e(bottom) {
    margin-top: getCssVar('empty-bottom-margin-top');
  }
}
