@use 'sass:map';

@use 'config/mixins.scss' as *;
@use 'config/common-var.scss' as *;
@use 'config/mixins-var.scss' as *;

// Rate
$rate: () !default;
$rate: map.merge(
  (
    'height': 32px,
    'font-size': 18px,
    'void-color': getCssVar('border-color', 'darker'),
    'fill-color': getCssVar('color-primary'),
    'disabled-void-color': getCssVar('fill-color'),
    'text-color': getCssVar('text-color', 'primary')
  ),
  $rate
);

$rate-height: () !default;
$rate-height: map.merge(
  (
    'large': 40px,
    'default': 32px,
    'small': 24px
  ),
  $rate-height
);

$rate-font-size: () !default;
$rate-font-size: map.merge(
  (
    'large': 22px,
    'default': 18px,
    'small': 14px
  ),
  $rate-font-size
);

@include b(rate) {
  @include set-component-css-var('rate', $rate);

  display: inline-flex;
  align-items: center;
  height: getCssVar('rate', 'height');
  font-size: getCssVar('rate', 'font-size');

  &:active,
  &:focus {
    outline: 0;
  }

  // 大小
  @each $size in (large, small) {
    @include m($size) {
      @include set-css-var-value('rate-height', #{map.get($rate-height, $size)});
      @include set-css-var-value('rate-font-size', #{map.get($rate-font-size, $size)});
    }
  }

  @include e(item) {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 0;
    vertical-align: middle;
    color: getCssVar('rate', 'void-color');
    line-height: normal;
  }

  @include e(icon) {
    position: relative;
    display: inline-block;
    margin-right: calc(getCssVar('rate', 'font-size') / 3);
    transition: getCssVar('transition-duration');
    font-size: getCssVar('rate', 'font-size');

    @include when(hover) {
      transform: scale(1.15);
    }

    @include when(active) {
      color: getCssVar('rate', 'fill-color');
    }
  }

  @include e(text) {
    vertical-align: middle;
    color: getCssVar('rate', 'text-color');
  }

  @include e(decimal) {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    color: getCssVar('rate', 'fill-color');
  }

  @include when(disabled) {
    .#{$namespace}-rate__item {
      cursor: auto;
      color: getCssVar('rate', 'disabled-void-color');
    }
  }
}
