@use 'config/mixins.scss' as *;

@include b(space) {
  display: inline-flex;
  vertical-align: top;

  @include m(vertical) {
    flex-direction: column;
  }

  @include e(item) {
    display: flex;
    flex-wrap: wrap;

    & > * {
      flex: 1;
    }
  }
}

